.Connect-Head3 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 3rem;
  background: -webkit-linear-gradient(#3551a4, #2d88c3, #31cdb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;
}

.Connect-Container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.card {
  display: flex;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.card img {
  height: 30px;
}

.card p {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  color: grey;
  font-weight: 80;
}
