* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Work Sans", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .container {
  margin: 0 50px;
  margin-top: 10px;
}

.text-white {
  color: white;
}
